<h2>Registrar Nuevo Cliente</h2>


<form (ngSubmit)="registrarCliente()" #clienteForm="ngForm">
  
  <div>
    <label for="nombre">Nombre:</label>
    <input 
      type="text" 
      id="nombre" 
      name="nombre"
      [(ngModel)]="clienteModel.nombre"
      required 
      #nombreInput="ngModel">
    
    <div *ngIf="nombreInput.invalid && (nombreInput.dirty || nombreInput.touched)" style="color: red;">
      El nombre es requerido.
    </div>
  </div>

  <div>
    <label for="correo">Correo Electrónico:</label>
    <input 
      type="email" 
      id="correo" 
      name="correo"
      [(ngModel)]="clienteModel.correo"
      required
      email
      #correoInput="ngModel">
    
    <div *ngIf="correoInput.invalid && (correoInput.dirty || correoInput.touched)" style="color: red;">
      <span *ngIf="correoInput.errors?.['required']">El correo es requerido.</span>
      <span *ngIf="correoInput.errors?.['email']">El formato del correo no es válido.</span>
    </div>
  </div>

  <button type="submit" [disabled]="!clienteForm.form.valid">Registrar Cliente</button>
</form>

<div *ngIf="mensaje" [style.color]="error ? 'red' : 'green'">
  {{ mensaje }}
</div>
